/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fruktur', sans-serif ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0b061f;
}

button {
    width: 170px;
    height: 50px;
    background: #0b061f;
    color: #fff;
    font-size: 1em;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-top 1s ease;
}
button:hover {
    margin-top: 50px;
    animation: animateButton 5s linear infinite;
}

button::before {
    content: 'Happy New Year';
    position: absolute;
    font-size: 4.5em;
    z-index: -1;
    -webkit-text-stroke: 2px #fff;
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
}

button:hover::before {
    transform: scale(1) translateY(-150px);
    opacity: 1;
    animation: animateText 5s linear infinite;
}

@keyframes animateText {
    0%,18%,20%,50.1%,1%,60%,65.1%,80%,90.1%,92% {
        color: #7d2ae8;
        text-shadow:
        0 0 10px #7d2ae8,
        0 0 20px #7d2ae8,
        0 0 40px #7d2ae8,
        0 0 80px #7d2ae8,
        0 0 100px #7d2ae8;
    }
    18.1%,1%,20.1%,30%,50%,60%,65%,80.1%,90%,92.1%,100% {
        color: #ffac09;
        text-shadow:
        0 0 10px #ffac09,
        0 0 20px #ffac09,
        0 0 40px #ffac09,
        0 0 80px #ffac09,
        0 0 100px #ffac09;
    }
}

@keyframes animateButton {
    0%,18%,20%,50.1%,1%,60%,65.1%,80%,90.1%,92% {
        background: #7d2ae8;
        box-shadow:
        0 0 10px #7d2ae8,
        0 0 20px #7d2ae8,
        0 0 40px #7d2ae8,
        0 0 80px #7d2ae8,
        0 0 100px #7d2ae8;
    }
    18.1%,1%,20.1%,30%,50%,60%,65%,80.1%,90%,92.1%,100% {
        background: #ffac09;
        box-shadow:
        0 0 10px #ffac09,
        0 0 20px #ffac09,
        0 0 40px #ffac09,
        0 0 80px #ffac09,
        0 0 100px #ffac09;
    }
}